<header>
	<h1>{{ vm.team }} - <span>{{ vm.title }}</span></h1>
	<br>
	<!-- <button ng-click="vm.getProjects()" class="btn-default">Get My Projects</button> -->
	<button ng-click="vm.changeData()" class="btn-default">Change</button>
	<button ng-click="vm.getNext()" class="btn-default">Get Next Project</button>
</header>

<!-- <div class="col-left">
	<br>
	<h4>My Projects:</h4>
	<ul>
		<li ng-repeat="project in vm.projects">{{ project.project_name }}</li>
	</ul>
</div> -->

<div class="col-full">
	<donut-chart data='vm.projectNums' class="theDonut"></donut-chart>
</div>
