<!DOCTYPE html>
<html ng-app="lkScaffold" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="container">
      <side-bar></side-bar>
      <div class="lk-view" ui-view="main"></div>
    </div>
  </body>
</html>
